cachetools==4.0.0
cffi==1.14.5
Click==7.0
complexaudio==1.0.4
cycler==0.10.0
cysignals==1.10.2
Cython==0.29.17
getch==1.0
llvmlite==0.32.1
lxml==4.6.2
matplotlib==3.3.4
numba==0.47.0
numpy==1.18.4
Pillow==8.1.1
PyAudio==0.2.11
pycparser==2.20
pyparsing==2.4.7
PySoundFile==0.9.0.post1
python-dateutil==2.8.1
python-toolbox==1.0.11
pytz==2020.5
scipy==1.5.4
six==1.15.0
